@model classifieds.Web.Models.Ads.AdsViewModel
@{
    Layout = "layout/_front";

}
<div class="container">
    <div class="section">
        <div class="box">
            <h1>ارسال آگهی جدید</h1>
            <br />
            <form asp-action="create">
                <div class="help is-danger" asp-validation-summary="All">
                    <span>Please correct the following errors</span>
                </div>                
                <div class="field">
                    <label asp-for="@Model.Title" class="label">عنوان</label>
                    <div class="control">
                        <input asp-for="@Model.Title" v-model="title" :class="{'is-success' : title && (title.length <= 25 && title.length >=5),'is-danger': !!title && title.length>25}" class="input" type="text">
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label asp-for="@Model.DistrictId" class="label">محله</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="@Model.DistrictId">
                                        <option>Select dropdown</option>
                                        <option>With options</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label asp-for="@Model.DistrictId" class="label">محله</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="@Model.DistrictId">
                                        <option>Select dropdown</option>
                                        <option>With options</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label asp-for="@Model.DistrictId" class="label">محله</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="@Model.DistrictId">
                                        <option>Select dropdown</option>
                                        <option>With options</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="field">
                    <label asp-for="@Model.CategoryId" class="label">دسته بندی</label>
                    <div class="control">
                        <div class="select ">
                            <select asp-for="@Model.CategoryId">
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label asp-for="@Model.Description" class="label">توضیحات</label>
                    <div class="control">
                        <textarea asp-for="@Model.Description" class="textarea" ></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox">
                            <a href="#">با قوانین موافقم</a>
                        </label>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">ارسال</button>
                    </div>
                    <div class="control">
                        <a href="/" class="button is-link is-light">انصراف</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script>
        new Vue({
            //this targets the div id app
            el: '#app',
            data: {
                title: '' //this stores data values for ‘name’
            }
        })
    </script>
}