@using classifieds.Web.Startup
@model classifieds.Posts.Dto.PostDto
@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front"; }
@section styles{
    <link rel="stylesheet" href="~/libs/swiper/swiper-bundle.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="~/libs/photoswipe/dist/photoswipe.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="~/libs/photoswipe/dist/default-skin/default-skin.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
}
<div class="hero is-fullheight is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="box">
                <input hidden name="Latitude" id="postLatitude" value="@Model.Latitude" />
                <input hidden name="Longitude" id="postLongitude" value="@Model.Longitude" />
                    <nav class="breadcrumb " aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#">@Model.District.City.Name</a></li>
                            <li><a href="#"> @Model.District.Name </a></li>
                            <li><a href="#"> @Model.Category.Name </a></li>
                            <li class="is-active"><a href="#" aria-current="page">@Model.Type.Name</a></li>
                        </ul>
                    </nav>
                    <hr />
                <div class="columns">
                    <div class="column is-5">
                        <h1 class="title">@Model.Title</h1>
                        <h1 class="subtitle">@Model.Description</h1>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <div class="swiper-container">
                                    <!-- Additional required wrapper -->
                                    <ul class="swiper-wrapper my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                        @if (Model.Images.Count > 0)
                                        {
                                            @foreach (var image in Model.Images)
                                            {
                                                <li class="swiper-slide" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                    <a title="click to zoom-in" href="/@image.Path" itemprop="contentUrl" data-size="1200x600">
                                                        <img src="/@image.Path?height=300&width=600" itemprop="thumbnail" alt="Image description" />
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="swiper-slide" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                                <a title="click to zoom-in" href="http://placehold.it/1200x600/00897B/ffffff?text=:(" itemprop="contentUrl" data-size="1200x600">
                                                    <img src="http://placehold.it/600x300/00897B/ffffff?text=:(" itemprop="thumbnail" alt="Image description" />
                                                </a>
                                            </li>
                                        }
                                    </ul>



                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <section class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"><i class="fas fa-2x fa-bed has-text-grey"></i></p>
                            <p class="title is-6">@Model.Bedroom</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"><i class="fas fa-2x fa-clock"></i></p>
                            <p class="title is-6">
                                @if (Model.Age > 0)
                                {
                                @Model.Age
                                }
                                else
                                {
                                    @Html.Raw("N/A")
                                }
                            </p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"><i class="fas fa-2x fa-parking"></i></p>
                            <p class="title is-6">دارد</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading"><i class="fas fa-2x fa-water has-text-info"></i></p>
                            <p class="title is-6">دارد</p>
                        </div>
                    </div>
                </section>
                <div class="column is-12" id="map">
                    <div style="height:300px"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
        It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/libs/swiper/swiper-bundle.min.js" asp-append-version="true"></script>
        <script src="~/libs/photoswipe/dist/photoswipe.min.js" asp-append-version="true"></script>
        <environment names="Development">
            <script src="~/lib/photoswipe/photoswipe-ui-default.js" asp-append-version="true"></script>
            <script src="~/view-resources/Views/UserPosts/show.js" asp-append-version="true"></script>

        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/photoswipe/photoswipe-ui-default.min.js" asp-append-version="true"></script>
            <script src="~/view-resources/Views/UserPosts/show.min.js" asp-append-version="true"></script>

        </environment>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                crossorigin=""></script>
    }
