@using classifieds.Web.Startup
@model classifieds.Web.Models.Ads.ShowAdViewModel
@{ ViewBag.Title = Model.Post.Category.Name +" "+  Model.Post.Type.Name +" در "+ Model.Post.District.Name;
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front"; }
@section styles{
    <link rel="stylesheet" href="~/libs/swiper/swiper-bundle.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="~/libs/photoswipe/dist/photoswipe.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="~/libs/photoswipe/dist/default-skin/default-skin.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
}
<div class="section has-background-white-ter Site-content">
    <div class="container " id="mainContainer">
        <input hidden name="Latitude" id="postLatitude" value="@Model.Post.Latitude" />
        <input hidden name="Longitude" id="postLongitude" value="@Model.Post.Longitude" />
        <nav class="breadcrumb " aria-label="breadcrumbs">
            <ul>
                <li><a href="/ads?city=@Model.Post.District.City.Id">@Model.Post.District.City.Name</a></li>
                <li><a href="/ads?district=@Model.Post.District.Id"> @Model.Post.District.Name </a></li>
                <li><a href="/ads?district=@Model.Post.District.Id&category=@Model.Post.CategoryId"> @Model.Post.Category.Name </a></li>
                <li ><a href="/ads?district=@Model.Post.District.Id&category=@Model.Post.CategoryId&types=@Model.Post.TypeId&city=@Model.Post.District.City.Id" aria-current="page">@Model.Post.Type.Name</a></li>
            </ul>
        </nav>
        <div class="box">
            <div class="columns">
                <div class="column is-5 has-text-centered">
                    <h3 class="title is-4 my-2">@Model.Post.Category.Name</h3>
                    @if (Model.Post.Category.Name.Contains("گروی") || Model.Post.Category.Name.Contains("اجاره"))
                    {
                        <h3 class="subtitle is-5 my-2">@Model.Post.Rent $ اجاره</h3>
                        <h3 class="subtitle is-5 my-2">@Model.Post.Deposit $ پیش پرداخت</h3>
                    }
                    else
                    {
                        <h3 class="subtitle is-5 my-2">@Model.Post.Price $ قیمت</h3>
                    }


                    <section class="level is-mobile mt-1">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading"><i class="fas fa-2x fa-bed has-text-grey"></i></p>
                                <p class="title is-6 has-text-grey">تعداد خواب</p>
                                <p class="title is-6 my-2">@Model.Post.Bedroom</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered my-5">
                            <div>
                                <p class="heading"><i class="fas fa-2x fa-clock has-text-grey"></i></p>
                                <p class="title is-6 has-text-grey">عمر بنا</p>
                                <p class="title is-6 my-2">
                                    @if (Model.Post.Age > 0)
                                    {
                                        @Model.Post.Age
                                    }
                                    else
                                    {
                                        @Html.Raw("N/A")
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading"><i class="fas fa-2x fa-chart-area has-text-grey"></i></p>
                                <p class="title is-6 has-text-grey">مساحت</p>
                                <p class="title is-6">@Model.Post.Area متر</p>
                            </div>
                        </div>
                    </section>
                    <div class="field is-grouped btn-overlay">
                      <p class="control">
                         <button class="button is-danger is-small" id="btn">
                            <span class="icon ">
                                <i class="fas fa-flag"></i>
                            </span>
                          </button>
                      </p>
                    </div>
       
             
                    <h1 class="subtitle is-5">@Model.Post.Description</h1>
                    <div class="level is-mobile">
                    <button class="button is-primary">
                        <span class="icon ">
                            <i class="fas fa-phone"></i>
                        </span>
                        <span>تماس</span>
                    </button>
  
                    <span class="text-muted">کد :@Model.Post.Id</span>
                    </div>
                </div>
                <div class="column is-7">
                    <div class="row">
                        <div id="demo-test-gallery" class="demo-gallery">
                            @foreach (var image in Model.Post.Images)
                            {
                                <a href="/@image.Path" data-size="1600x1600" data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" data-med-size="1024x1024" data-author="Folkert Gorter" class="demo-gallery__img--main">
                                    <img src="/@image.Path?height=240&width=240&rsampler=nearest&rmode=stretch" alt="" />
                                    <figure>This is dummy caption.</figure>
                                </a>

                            }
                        </div>
                    </div>
                </div>
            </div>
                <div class="columns my-4">
                    <div class="column is-7">
                               @if (Model.Post.Amenities.Count > 0)
            {
                        <h1 class="title is-4 b">
                            امکانات
                       </h1>
                       <br>
                        <div class="columns">


                            @foreach (var item in Model.Post.Amenities)
                            {
                                <div class="column is-6">
                                    <i class="@item.Icon"></i>
                                    @item.Name
                                </div>
                            }

                        </div>
                        }
                    </div>
                    
                    <div class="column is-5" id="map">
                
                        <div style="height:300px"></div>
                    </div>
                </div>
        </div>
    </div>
    @if (Model.Recommendations.Count > 0)
    {
            <div class="container mt-3">
                      <div class="swiper-container">
                           <div class="swiper-wrapper">
                    @foreach (var post in Model.Recommendations)
                    {
                        <div class="swiper-slide">
                    <div class=" column" >
                            <a class="fill-div" href="/ads/@post.Id">
                                <div class="card card-hover-shadow" data-label="@post.Category.Name">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            @if (post.Images.Count > 0)
                                            {
                                                <img src="/@post.Images[0].Path?width=600&height=480" alt="Placeholder image">

                                            }
                                            else
                      {
                       <img src="/img/placeholder.png" alt="Placeholder image">
                      }
                         <div class="overlay">@post.District.City.Name -  @post.District.Name</div>
                                        </figure>
                                    </div>
                                 <div class="card-content">
                                   
                                        <nav class="level is-mobile">
                                            <div class="level-item has-text-centered">
                                                <div>
                                                    <p><i class="fas fa-chart-area has-text-grey"></i></p>
                                                    <p>@post.Area</p>
                                                </div>
                                            </div>
                                            <div class="level-item has-text-centered">
                                                <div>
                                                    <p><i class="fas  fa-clock has-text-grey"></i></p>
                                                    <p>
                                                    @if (post.Age == 0)
                                                    {
                                                        Html.Raw("N/A");
                                                    }
                                                    else
                                                    {
                                                        Html.Raw(post.Age);
                                                    }
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="level-item has-text-centered">
                                                <div>
                                                    <p><i class="fas fa-bed has-text-grey"></i></p>
                                                    <p>@post.Bedroom</p>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="#" class="card-footer-item">
                                            <p><i class="fas fa-phone has-text-success"></i>  اطلاعات تماس</p>
                                        </a>
                                    </footer>
                                </div>
                            </a>
                     </div>
                     </div>
                    }
                </div>
                    <div class="swiper-pagination">
                        
                    </div>

                </div>
            </div>
    }
</div>
<div class="modal " id="myModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">گزارش اشکال</p>
      <button class="delete" aria-label="close" data-bulma-modal="close"></button>
    </header>
    <section class="modal-card-body">
      <p>There is something here</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">ثبت </button>
      <button class="button" data-bulma-modal="close">انصراف</button>
    </footer>
  </div>
</div>

<div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip">
                    <!-- <a href="#" class="pswp__share--facebook"></a>
                              <a href="#" class="pswp__share--twitter"></a>
                              <a href="#" class="pswp__share--pinterest"></a>
                              <a href="#" download class="pswp__share--download"></a> -->
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center">
                </div>
            </div>
        </div>

    </div>


</div>

@section scripts{
    <script src="~/libs/swiper/swiper-bundle.min.js" asp-append-version="true"></script>
    <script src="~/libs/photoswipe/dist/photoswipe.min.js" asp-append-version="true"></script>
    <environment names="Development">
        <script src="~/lib/photoswipe/photoswipe-ui-default.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/UserPosts/show.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/photoswipe/photoswipe-ui-default.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/UserPosts/show.min.js" asp-append-version="true"></script>

    </environment>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
}
