@model classifieds.Models.ManageViewModels.IndexViewModel
@{ ViewData["Title"] = "Manage your account";
    Layout = "layout/_front";
    string query = (ViewData["query"] ?? string.Empty) as string; }
@section hero{
    <div class="hero is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                sssss
            </div>

        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a href="/manage">لیست آگهی ها</a></li>
                        <li><a href="/manage/changepassword">تغییر رمز</a></li>
                        <li><a href="/Manage/AddPhoneNumber">افزودن شماره تماس</a></li>
                        @*<li><a href="/Manage/UserInfo">مشخصات</a></li>*@
                    </ul>
                </div>
            </nav>
        </div>
    </div>
}
<div class="section">
    <div class="container">
        <div class="columns">
        <div class=" column is-10  has-text-centered is-12-mobile">
            @if (!string.IsNullOrEmpty(query))
            {
                <div class="notification is-primary">
                    @ViewData["StatusMessage"]
                </div>}
            <div class="columns is-multiline is-mobile is-centered">
                <div class="column is-3 ">رمزعبور</div>
                <div class="column is-3 ">
                    @if (Model.HasPassword)
                    {
                        <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">تغییر</a> }
                    else
                    {
                        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">ایجاد</a>}
                </div>
                <div class="column is-3 ">شماره موبایل</div>
                <div class="column is-3 ">
                    <div class="buttons">
                        @if (Model.PhoneNumber != null)
                        {
                            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="button is-info is-small">تغییر</a>
                            <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                                <button type="submit" class="button is-danger is-small">حذف</button>
                            </form> }
                        else
                        {
                            <a asp-controller="Manage" asp-action="AddPhoneNumber" class="button is-info is-small">افزودن</a>}
                    </div>
                </div>
                </div>
                <hr class="my-5">
                <div class="column is-12">
                    <div class="table-container">

                        <table class="table is-fullwidth" style="overflow-x:auto">
                            <thead>
                                <tr>
                                    <th>شناسه</th>
                                    <th>عنوان</th>
                                    <th>شهر</th>
                                    <th>منطقه</th>
                                    <th>وضعیت</th>
                                    <th>دسته بندی</th>
                                    <th>منو</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Posts.Count > 0)
                                {
                                    @foreach (var item in Model.Posts)
                                    {
                                        <tr>
                                            <th>@item.Id</th>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>@item.District.City.Name </td>
                                            <td>@item.District.Name </td>
                                            <td>
                                                @if (item.IsVerified)
                                                {
                                                    <span class="tag is-success">تایید شده</span>
                                                }
                                                else
                                                {
                                                    <span class="tag is-danger">تایید نشده</span>
                                                }
                                            </td>
                                            <td>@item.Category.Name</td>
                                            <td><a href="/ads/@item.Id">مشاهده</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw("موردی پیدا نشد.")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
