@model classifieds.Users.Dto.UserDto
    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">اپلود عکس پروفایل</p>
                <button class="delete" data-bulma-modal="close" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="container ">
                    <div class="columns is-centered is-multiline">
                        @Html.AntiForgeryToken()
                        <img id="image" src="/@Model.Avatar" alt="Picture">
                        <div class="column is-4-desktop is-8-mobile">
                            <div class="field mt-2">
                                <div class="file is-primary">
                                    <label class="file-label">
                                        <input class="file-input" type="file" id="imageInput" name="resume">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                انتخاب عکس
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot ">
                <button class="button is-success" id="sendFile">ارسال</button>
                <button data-bulma-modal="close" class="button">انصراف</button>
            </footer>
        </div>
        <button class="modal-close is-large" data-bulma-modal="close" aria-label="close"></button>
    </div>
<div class="hero is-bold is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                <div class="columns is-mobile">
                    <div class="column is-2-desktop is-6-mobile">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/@Model.Avatar">
                        </figure>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="card-content is-overlay ">
                                <span class="icon has-text-danger" id="uploadButton">
                                    <i class="fas fa-camera"></i>
                                </span>
                            </div>
                        }

                    </div>

                    <div class="column is-10-desktop is-6-mobile">
                        <div class="title is-5 my-4">
                            @Model.FullName 
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    @*<li class="@(Model == 1 ? "is-active":"")"><a href="/manage">پست ها</a></li>
                    <li class="@(Model == 2 ? "is-active":"")"><a href="/manage/changepassword">تغییر رمز</a></li>
                    <li class="@(Model == 3 ? "is-active":"")"><a href="/Manage/AddPhoneNumber">افزودن شماره تماس</a></li>
                    <li class="@(Model == 4 ? "is-active":"")"><a href="/Manage/UserInfo">مشخصات</a></li>*@
                </ul>
            </div>
        </nav>
    </div>
</div>
