@using classifieds.Web.Startup
@model classifieds.Web.Models.Ads.AdsIndexViewModel

@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front"; }
@section hero{
    <section class="hero is-medium" style="background-color: #0093E9; background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); ">
        <div class="hero-body">
            <div class="container">
                <nav class="columns is-centered is-mobile has-text-centered mb-2">
                    @foreach (var item in Model.Categories)
                    {
                        <div class="column is-6-mobile is-2-desktop cat-tab " data-id="@item.Id">
                            <span class="title is-5 cat-tabs-link">@item.Name</span>
                        </div>
                    }
                </nav>
                <div class="box has-text-link">
                    <div class="columns is-centered is-vcentered has-text-centered py-2">
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" id="selectCity">
                                    @foreach (var item in Model.Cities)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" disabled id="selectDistrict">
                                    <option value="0">انتخاب محله </option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" asp-items="@(new SelectList(Model.Types,"Id","Name"))" id="type">
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <button class="button is-info is-rounded is-fullwidth-mobile" id="send">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

}
<div class="section">
    <div class="container">
        <h4 class="has-text-centered title is-4">محله های محبوب</h4>
        <p class="has-text-centered subtitle is-6">
            دسترسی سریع به محبوب‌ترین محله‌ها از طریق لینک‌های زیر

        </p>

        <div class="columns is-multiline my-5">
            @foreach (var category in Model.PostsCount)
            {
            <div class="column is-4 ">
                <h2 class="has-text-centered">
                    <strong>
                        @category.CategoryName در @category.CityName
                    </strong>
                </h2>
                <br />
                <ul>
                    @foreach (var district in category.Count)
                    {

                        <li>
                            <a href="/ads/category=@category.CategoryName&district=@district.CityId">

                                <div class="level is-mobile my-2 box card-hover-shadow">
                                    <div class="level-right">
                                        <div class="level-item">@district.CityId</div>
                                    </div>
                                    <div class="level-left">
                                        <div class="level-item has-text-info">@district.Count</div>
                                    </div>

                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            }

        <div class="column is-4 ">
                <h2 class="has-text-centered">
                    <strong>
                        خرید و فروش و رهن و اجاره در دیگر شهرها
                    </strong>
                </h2>
                <br />
                <ul>
                    <li>
                        <a href="#">
                            <div class="level is-mobile my-2 box card-hover-shadow">
                                <div class="level-right">
                                    <div class="level-item">تهران</div>
                                </div>
                                <div class="level-left">
                                    <div class="level-item has-text-info">44545</div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="level is-mobile my-2 box card-hover-shadow">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item has-text-info">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level is-mobile my-2 box card-hover-shadow">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item has-text-info">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level is-mobile my-2 box card-hover-shadow">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item has-text-info">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="level is-mobile my-2 box card-hover-shadow">
                                <div class="level-right">
                                    <div class="level-item">تهران</div>
                                </div>
                                <div class="level-left">
                                    <div class="level-item has-text-info">44545</div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="level is-mobile my-2 box card-hover-shadow">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item has-text-info">44545</div>
                            </div>

                        </div>
                    </li>
                </ul>
        </div>
        </div>
        <h5 class="has-text-centered title is-5">
            آژانس های املاک برتر
        </h5>
        <p class="has-text-centered subtitle is-6">
            آیهوم به عنوان یار قدیمی املاک افتخار همکاری با آژانس های املاک معتبر کشور را دارد
        </p>
        <div class="columns is-multiline my-5 is-mobile">
            @foreach (var user in Model.UserPostsCount)
            {
            <div class="column is-6-mobile is-2-desktop">
                <a class="has-text-black" href="/users/@user.UserName">
                    <div class="box">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="/@user.Avatar">
                        </figure>
                    </div>
                </a>
              </div>

            }

        </div>
        <h5 class="has-text-centered title is-5">
            تازه ترین مطالب بلاگ
        </h5>
        <p class="has-text-centered subtitle is-6">
            همه ی چیزهایی که باید درباره املاک بدانیم
        </p>
        <div class="columns">
            <div class="column is-3">
                <div class="card card-hover-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card card-hover-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card card-hover-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card card-hover-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        "use strict";
        $(function () {
            $('.select2').select2({
                matcher: matchCustom,
                language: {
                    "noResults": function () { return 'موردی پیدا نشد.'; }
                }
            });

            function matchCustom(params, data) {
                // If there are no search terms, return all of the data
                if ($.trim(params.term) === '') {
                    return data;
                }

                // Do not display the item if there is no 'text' property
                if (typeof data.text === 'undefined') {
                    return null;
                }

                // `params.term` should be the term that is used for searching
                // `data.text` is the text that is displayed for the data object
                if (data.text.indexOf(params.term) > -1) {
                    var modifiedData = $.extend({}, data, true);
                    // You can return modified objects from here
                    // This includes matching the `children` how you want in nested data sets
                    return modifiedData;
                }

                // Return `null` if the term should not be displayed
                return null;
            }
            var categoryId = 0;
            $(".cat-tab").first().find("span").addClass("has-text-grey-dark ");
            categoryId = $(".cat-tab").first("span").attr("data-id");
            $('#selectCity').on('select2:select', function (e) {
                if (e.target.value != 0) {
                    $("#selectDistrict").prop("disabled", false);
                    var sampleArray = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }
                        , { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }
                        , { id: 4, text: 'wontfix' }];
                    $.get('/admin/districts/GetByCityId?id=' + e.target.value, function (res) {
                        var items = res.result.map(m => {
                            return {
                                id: m.id,
                                text: m.name
                            }
                        }
                        );
                        items.splice(0, 0, { id: 0, text: "انتخاب محله" })
                        $("#selectDistrict").empty();
                        $("#selectDistrict").select2({ data: items });
                    })
                } else {
                    $("#selectDistrict").prop("disabled", true);
                }
            });
            $(".cat-tab").click(function () {
                $(".cat-tab").find("span").removeClass("has-text-grey-dark  ");
                $(this).find("span").addClass("has-text-grey-dark   ");
                categoryId = $(this).attr("data-id")
            });
            $("#send").click(function () {
                var query = {};
                var city = $('#selectCity').select2("data");
                var district = $('#selectDistrict').select2("data");
                var type = $('#type').select2("data");
                if (categoryId && categoryId != 0) {
                    query.category = categoryId;
                }
                if (city[0] && city[0].id != 0) {
                    query.city = city[0].id;
                }
                if (district[0] && district[0].id != 0) {
                    query.district = district[0].id;
                }
                if (type[0] && type[0].id != 0) {
                    query.type = type[0].id;
                }
                location.href = "/ads?" + $.param(query);
            });
        })
    </script>
}
