@using classifieds.Web.Startup
@model classifieds.Web.Models.Ads.AdsIndexViewModel

@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front"; }
@section hero{
    <section class="hero is-medium is-primary is-bold has-bg-img">
        <div class="hero-body">
            <div class="container">
                <nav class="columns is-centered is-mobile has-text-centered mb-2">
                    @foreach (var item in Model.Categories)
                    {
                        <div class="column is-6-mobile is-2-desktop cat-tab " data-id="@item.Id">
                            <span class="title is-5 cat-tabs-link">@item.Name</span>
                        </div>
                    }
                </nav>
                <div class="box has-text-link">
                    <div class="columns is-centered is-vcentered has-text-centered py-2">
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" id="selectCity">
                                    @foreach (var item in Model.Cities)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" disabled id="selectDistrict">
                                    <option value="0">انتخاب محله </option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" asp-items="@(new SelectList(Model.Types,"Id","Name"))" id="type">
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <a class="button is-info is-rounded is-fullwidth-mobile" id="send">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

}
<section class="hero  is-light is-bold">
    <div class="hero-body">
        <div class="container ">
            <div class="section">
                <div class="columns is-multiline">
                    @foreach (var post in Model.Posts)
                    {
                        <div class=" column is-3">
                            <a class="fill-div" href="/ads/@post.Id">
                                <div class="card card-hover-shadow">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="@(post.Images.Count > 0 ? post.Images[0]?.Path +"?width=600&height=480" : "/img/placeholder.png")" alt="Placeholder image">
                                            <div class="overlay">@(post.District.City.Name + ',' + post.District.Name)</div>
                                            @*<div class="overlay-top-corner">
                                                    ${featuredIcon}
                                                    ${hasImageIcon}
                                                </div>*@
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            @post.Title
                                            <br>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-item has-text-centered">
                                                <div>
                                                    <p><i class="fas  fa-square has-text-success"></i></p>
                                                    <p>@post.Area</p>
                                                </div>
                                            </div>
                                            <div class="level-item has-text-centered">
                                                <div>
                                                    <p><i class="fas  fa-clock has-text-warning"></i></p>
                                                    <p>@post.Age </p>
                                                </div>
                                            </div>
                                            <div class="level-item has-text-centered">
                                                <div>
                                                    <p><i class="fas fa-bed has-text-grey"></i></p>
                                                    <p>@post.Bedroom</p>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>

                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="section">
                <div class="box">
                    <div class="columns">
                        <div class="column is-4">
                            <h2 class="has-text-centered">
                                <strong>
                                    خرید و فروش آپارتمان در تهران
                                </strong>
                            </h2>
                            <br />
                            <ul>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>

                            </ul>

                        </div>
                        <div class="column is-4">
                            <h2 class="has-text-centered">
                                <strong>
                                    رهن و اجاره آپارتمان در تهران
                                </strong>
                            </h2>
                            <br />
                            <ul>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>

                            </ul>

                        </div>
                        <div class="column is-4">
                            <h2 class="has-text-centered">
                                <strong>
                                    خرید و فروش و رهن و اجاره در دیگر شهرها
                                </strong>
                            </h2>
                            <br />
                            <ul>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="level is-mobile my-1">
                                        <div class="level-right">
                                            <div class="level-item">تهران</div>
                                        </div>
                                        <div class="level-left">
                                            <div class="level-item has-text-info">44545</div>
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        "use strict";
        $(function () {
            $('.select2').select2({
                matcher: matchCustom,
                language: {
                    "noResults": function () { return 'موردی پیدا نشد.'; }
                }
            });

            function matchCustom(params, data) {
                // If there are no search terms, return all of the data
                if ($.trim(params.term) === '') {
                    return data;
                }

                // Do not display the item if there is no 'text' property
                if (typeof data.text === 'undefined') {
                    return null;
                }

                // `params.term` should be the term that is used for searching
                // `data.text` is the text that is displayed for the data object
                if (data.text.indexOf(params.term) > -1) {
                    var modifiedData = $.extend({}, data, true);
                    // You can return modified objects from here
                    // This includes matching the `children` how you want in nested data sets
                    return modifiedData;
                }

                // Return `null` if the term should not be displayed
                return null;
            }
            var categoryId = 0;
            $(".cat-tab").first().find("span").addClass("has-text-grey-dark ");
            categoryId = $(".cat-tab").first("span").attr("data-id");
            $('#selectCity').on('select2:select', function (e) {
                if (e.target.value != 0) {
                    $("#selectDistrict").prop("disabled", false);
                    var sampleArray = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }
                        , { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }
                        , { id: 4, text: 'wontfix' }];
                    $.get('/admin/districts/GetByCityId?id=' + e.target.value, function (res) {
                        var items = res.result.map(m => {
                            return {
                                id: m.id,
                                text: m.name
                            }
                        }
                        );
                        items.splice(0, 0, { id: 0, text: "انتخاب محله" })
                        $("#selectDistrict").empty();
                        $("#selectDistrict").select2({ data: items });
                    })
                } else {
                    $("#selectDistrict").prop("disabled", true);
                }
            });
            $(".cat-tab").click(function () {
                $(".cat-tab").find("span").removeClass("has-text-grey-dark  ");
                $(this).find("span").addClass("has-text-grey-dark   ");
                categoryId = $(this).attr("data-id")
            });
            $("#send").click(function () {
                var query = {};
                var city = $('#selectCity').select2("data");
                var district = $('#selectDistrict').select2("data");
                var type = $('#type').select2("data");
                if (categoryId && categoryId != 0) {
                    query.category = categoryId;
                }
                if (city[0] && city[0].id != 0) {
                    query.city = city[0].id;
                }
                if (district[0] && district[0].id != 0) {
                    query.district = district[0].id;
                }
                if (type[0] && type[0].id != 0) {
                    query.type = type[0].id;
                }
                location.href = "/ads?" + $.param(query);
            });
        })
    </script>
}
