@using Abp.Authorization.Users
@model classifieds.Web.Models.Account.RegisterViewModel
@{ ViewBag.Title = L("Register"); }
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form id="RegisterForm" asp-action="Register" class="box" method="post">
                        @if (ViewBag.ErrorMessage != null)
                        {
            <div class="alert alert-danger">
                <i class="fas fa-warning"></i> @ViewBag.ErrorMessage
            </div>}
                        <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
                        <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema" />
                        <div class="input-group mb-3">
                            <div class="control has-icons-right">
                                <input type="text" name="Name" class="input" placeholder="@L("Name")" value="@Model.Name" required maxlength="@AbpUserBase.MaxNameLength">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field mb-3">
                            <div class="control has-icons-right">
                                <input type="text" name="Surname" class="input" placeholder="@L("Surname")" value="@Model.Surname" required maxlength="@AbpUserBase.MaxSurnameLength">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field  mb-3">
                            <div class="control has-icons-right">
                                <input type="text" name="PhoneNumber" dir="ltr" class="input" placeholder="@L("PhoneNumber")" value="@Model.PhoneNumber" required>

                                <span class="icon is-small is-right"><i class="fas fa-arrow-left"></i></span>
                            </div>


                        </div>
                        <div class="field mb-3">
                            <div class="control has-icons-right">
                                <input type="email" name="EmailAddress" class="input" placeholder="@L("EmailAddress")" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field mb-3">
                            <div class="control has-icons-right">
                                <input type="text" name="UserName" class="input" placeholder="@L("UserName")" value="@Model.UserName" required maxlength="@AbpUserBase.MaxUserNameLength">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field mb-3">
                            <div class="control has-icons-right">
                                <input type="password" name="Password" class="input" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" id="RegisterButton" class="button is-success is-fullwidth">@L("Register")</button>
                            </div>
                            <div class="control">
                                <a asp-action="Login" class="button is-fullwidth">
                                    <span class="icon is-small ">
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </span>
                                    <span> @L("Back")</span>
                                </a>
                            </div>
                        </div>
                    </form>
                    @*<div class="social-auth-links text-center">
                            <p>- OR -</p>
                            <a href="javascript:;" class="btn btn-block btn-primary">
                                <i class="fab fa-facebook mr-2"></i>
                                Sign up using Facebook
                            </a>
                            <a href="javascript:;" class="btn btn-block btn-danger">
                                <i class="fab fa-google-plus mr-2"></i>
                                Sign up using Google+
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
