@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using classifieds.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject ILanguageManager LanguageManager
@{ AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    var returnUrl = Context.Request.Path;

    pageTitle += "classifieds";
}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@pageTitle</title>
    <link rel="icon"
          type="image/png"
          href="/favicon.png" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma-rtl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <environment names="Development">
        <link href="~/css/web.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/web.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)

</head>
<body class="site">
    @RenderSection("hero", required: false)
    <main class="Site-content" id="app">
        @RenderBody()
    </main>
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
